<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Box</title>
    <!-- quick_search CSS -->
    <link href="static/css/quick_search.css" rel="stylesheet" type="text/css" />
</head>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>

<body>
    <%-include("navbar.ejs")%>
    sdfsdfdfasdfasdfa
    <%-include("video_carousel.ejs")%>
    <%-include("card_news.ejs")%>
    <%-include("quick_search.ejs")%>
    
    
    <% var era=['원시, 고대', '중세' , '근세' , '근대' , '현대' ]; %>
    <%for(var i=0; i < era.length; i++) { %>
        <div id= "<%= era[i] %>" style="height: 1000px;"> <%= era[i] %> </div>
    <% } %>
        
        
        
        
</body>
</html>