<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Box</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/bgVideo.css">
    <link rel="stylesheet" href="/static/css/card_news.css">
    <link rel="stylesheet" href="static/css/navbar-2.css">
    <link rel="stylesheet" href="static/css/exhibit.css">
    <link rel="stylesheet" href="static/css/footer.css">
    <link rel="stylesheet" href="static/css/root.css">

    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Card_news ScrollMagic -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    
    <!-- 확인용 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>

    
</head>


<body>
    <!-- 네브바 -->
    <%-include("navbar.ejs")%>
    <!-- 배경비디오 -->
    <%-include("bg_video.ejs")%>


        <!-- 1번째 단락 -->
        <div class="first-floor">
            <div class="main-text-1">Art-box</div>
        </div>
        
        <!-- 2번째 단락 -->
        <div class="second-floor">
            <a href="/show_data" class="root-show_data">
                <div class="main-text-2">
                    <div class="welcome">Welcome<br>to Gallery</div>
                    <div class="nature">자연에서 찾은<br>순수한 아름다움의 비밀</div>
                    <span class="plus-icon"><i class="fa-solid fa-plus"></i></span>
                    <span>바로가기</span>
                </div>   
                <div class="main-text-2-img"></div>
            </a>    
        </div>
        
        <!-- 3번째 단락 -->
        <div class="third-floor">
            <div class="main-text-3">
                <div class="main-text-3-1">Card News</div>
            </div>
            <%-include("card_news.ejs")%>
        </div>
        
        <!-- 4번째 단락 -->
        <div class="fourth-floor">
            <div class="main-text-4">
                <div class="main-text-4-1">Exhibition</div>
            </div>

            <%-include("exhibit.ejs")%>
        </div>
    
            <!-- 5번째 단락 -->
            <div class="fifth-floor">
                <div class="main-text-5">
                    <div class="qa-text">
                        Ask<br>Questions

                    </div>
                    <a href="/inquery">
                        <div class="qa-img">
                            <div class="qa-img-text">
                                <div>Q&A</div>
                                <div>웹사이트를 이용하면서 궁금한 점이나<br>
                                    불편한 점이 있다면 Q&A 게시판을 통해 의견 남겨주세요.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        
    </div>
    <!-- footer -->
    <div class="footer-root">
        <%-include("footer.ejs")%>
    </div>

    <script>
            // scroll 내리면 nav 사라지고, 올리면 나타남.
    var lastScrollTop = 0;
    $(window).scroll(function () {
        var st = $(this).scrollTop();
        if (st > lastScrollTop) {
            // downscroll code
            
            $("#navbar").fadeOut(500);
            
        } else if( $(window).width() >= 991 ) {
            // upscroll code
            
            $("#navbar").fadeIn(500);
            

        }
        lastScrollTop = st;
    });

    $("#hamburgerTrigger").change(function () {
        console.log($(window).width())
        if ($("#hamburgerTrigger").is(":checked")) {
            $('#navbar').fadeOut(500);
        }
        else if ( $(window).width() >= 991 ){
            $('#navbar').fadeIn(500)
        }
    });

    
</script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>

</html>