<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <!-- navbar CSS -->
    <link rel="stylesheet" href="static/css/navbar.css">
    <!-- show_data search CSS -->
    <link rel="stylesheet" href="static/css/show_data.css">
    <!-- quick_search_sidebar CSS -->
    <link rel="stylesheet" href="static/css/quick_search_sidebar.css">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- 사진 클릭시 navbar 숨김처리 -->
    <script>
        document.addEventListener('click', nav_fade);
        document.addEventListener('scroll', nav_fade);
        
        function nav_fade(){
            if($("div").hasClass("swal2-container")){
                $("#navbar").fadeOut(500);
            }else{
                $("#navbar").fadeIn(500);
            }
        }
    </script>
</head>

    <!-- 사진 클릭시 sweetalert2 설명 나오는 script -->
    <script>
        function sweet_alert(get_pic_src) {
            Swal.fire({
                imageUrl: get_pic_src.src,
                html: '고세구! 고세구! 고세구! <br> 고양이가 세상을 구한다!!!!',
            })
        }
    </script>


<body data-bs-spy="scroll" data-bs-target="#navbar-example">
    <%- include("navbar") %>
    <%#- include("quick_search") %>
    <% var pic_count = 1;%>
    <div class="row">
        <div class="col-10" id="img_container" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                <%for(var i=0; i< artbox_data[0].length; i++) { %>
                    <h3 class="era_title" id=<%= artbox_data[0][i] %>> # <%= artbox_data[0][i] %></h3>
                    <hr>
                    <%for(var j=0; j< artbox_data[1][i].length; j++) { %>
                        <h5 class="era_title" id=<%= artbox_data[1][i][j] %>> - <%= artbox_data[1][i][j] %></h5>
                        <hr>
                            <div class="row">
                                <% for(var three=0; three<3; three++) { %>
                                    <% if(pic_count >= artbox_img.length) {%>
                                        <%continue %>
                                    <% } %>
                                    <% var img_src = "static/img/artbox/" + pic_count++ + ".JPG" %>
                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="pic_frame">
                                            <img class="museum_img" src=<%=img_src %>  onclick="sweet_alert(this);">
                                            <div class="pic_description">작품명 : <%= pic_count %>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>

                    <% } %>
                <% } %>
        </div>
        <div class="col-2" id="scrollspy_container" >
            <!-- scrolspy -->
            <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
                
                <nav class="nav nav-pills flex-column">
                <%for(var i=0; i< artbox_data[0].length; i++) { %>
                    <% var first_id="#" + artbox_data[0][i] %>
                    <a class="nav-link a_tag" href=<%=first_id %>><%= artbox_data[0][i] %></a>
                    <nav class="nav nav-pills flex-column">
                        <%for(var j=0; j< artbox_data[1][i].length; j++) { %>
                            <% var second_id="#" + artbox_data[1][i][j] %>
                            <a class="nav-link ms-3 my-1 a_tag" href=<%=second_id %>><%= artbox_data[1][i][j] %></a>
                        <% } %>
                    </nav>
                <% } %>
                </nav>
            </nav>
            </div>
            <!-- scrolspy fin -->
    </div>
    <!-- active scroll auto move -->
    <script>
        browser_height = window.innerHeight/2;
        $(window).on('scroll', e => {
        // $(window).on('click', e => {
            $("#scrollspy_container").scrollTop(browser_height);
            // $("#scrollspy_container").scrollTop(0);
            // $(window).scrollTop(49);
    })
    </script>
</body>
</html>